{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        {% if ad %}
            <a href="{{ ad.0.link }}">
                <div class="big-news">
                        <img src="/uploads/ads-banner/{{ ad.0.banner }}" alt="Bannière publicitaire">
                </div>
            </a>
        {% endif %}
        {% if lastNews %}
            {% set preview = lastNews.body| striptags | slice(0,200) ~ '...' %}
            <h1>Acctualités</h1>
            <div id="last-news-flex">
                <a href="{{ path('news_detail', { slug: lastNews.slug }) }}" class="last-news-link">
                    <div class="last-news">
                        <img src="/uploads/article-photo/{{ lastNews.photo }}" alt="{{ lastNews.title }} Photo">
                        <div class="news-infos">
                            <h2>{{ lastNews.title }}</h2>
                            <div class="badges">
                                {% for category in lastNews.category %}
                                    <p class="badge">{{ category.name }}</p>
                                {% endfor %}
                            </div>
                            {% autoescape %}
                            <p class="last-news-preview">{{ preview | raw}}</p>
                            {% endautoescape %}
                        </div>
                    </div>
                </a>
                <div class="column">
                    {% if lastThree %}
                        <div class="last-three">
                            <h2>Autres actualités</h2>
                            {% for news in lastThree %}
                                <a href="{{ path('news_detail', { slug: news.slug }) }}">
                                    <div class="last-three-news">
                                        <div>
                                            <h2>{{ news.title | striptags | slice(0,50) }}</h2>
                                        </div>
                                        <i class="fas fa-chevron-right"></i>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                        <h2>Nos réseaux sociaux</h2>
                        {% for social in socials %}
                            <a href="{{ social.link }}">
                                <div class="ad">
                                    <h2><i class="fab fa-{{ social.name | lower }}"></i> {{ social.accountName }}</h2>
                                </div>
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
