{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        {% if bigNews %}
            <a href="{{ bigNews.0.link }}">
                <div class="big-news">
                        <img src="/uploads/ads-banner/{{ bigNews.0.banner }}" alt="Bannière publicitaire">
                </div>
            </a>
        {% endif %}
        {% if lastNews %}
            {% set preview = lastNews.body| raw | slice(0,200) ~ '...' %}
            <h1>Acctualités</h1>
            <div id="last-news-flex">
                <div class="last-news">
                    <div class="news-photo">
                        <img src="/uploads/article-photo/{{ lastNews.photo }}" alt="{{ lastNews.title }} Photo">
                    </div>
                    <div class="news-infos">
                        <div>
                            <h2>{{ lastNews.title }}</h2>
                            <div class="badges">
                                {% for category in lastNews.category %}
                                    <p class="badge">
                                        {{ category.name }}
                                    </p>
                                {% endfor %}
                            </div>
                            <p>{{ preview | raw }}</p>
                        </div>
                        <a href="{{ path('news_detail', { slug: lastNews.slug }) }}"><i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="column">
                    {% if lastThree %}
                        <div class="last-three">
                            <h2>Autres actualités</h2>
                            {% for news in lastThree %}
                                <div class="last-three-news">
                                    <div class="news-infos">
                                        <h2>{{ news.title | striptags | slice(0,50) }}</h2>
                                    </div>
                                    <a href="{{ path('news_detail', { slug: news.slug }) }}">
                                        <i class="fas fa-chevron-right"></i>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <h2>Nos réseaux sociaux</h2>
                    {% for social in socials %}
                    <a href="{{ social.link }}">
                        <div class="ad">
                            <h2><i class="fab fa-{{ social.name | lower }}"></i> {{ social.accountName }}</h2>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
