{% extends 'base.html.twig' %}

{% block description %}Retrouvrez toutes les actualités de l'association{% endblock %}

{% block title %}Nos actualités{% endblock %}

{% block body %}
    <div class="container">
        <h1>Noos actualités</h1>
        <div class="news-flex">
            {% for new in news %}
                <div class="news">
                    <a href="{{ path('news_detail', { slug: new.slug }) }}">
                        <div class="news">
                            <img src="/uploads/article-photo/{{ new.photo }}" alt="{{ new.title }} Photo">
                            <div class="news-infos">
                                <h2>{{ new.title }}</h2>
                                <div class="badges">
                                    {% for category in new.category %}
                                        <p class="badge">{{ category.name }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
