{% extends 'base.html.twig' %}

{% block description %}Retrouvrez toutes les actualités de l'association{% endblock %}

{% block title %}Nos actualités{% endblock %}

{% block body %}
   <section class="page_title">
       <h2 class="title--page">Nos actualités</h2>
   </section>
    <section class="container cards">
        {% for article in news %}
            <a href="{{ path('news_detail', { slug: article.slug }) }}" class="card card_link card--news">
                <figure>
                    <div class="img_banner">
                        <img src="{{ asset('uploads/article-photo/' ~ article.photo) }}" alt="{{ article.title }}" class="card_img card_img--news">
                    </div>
                    <figcaption class="card_infos card_infos--news">
                        <h3 class="card_name card_name--news">{{ article.title }}</h3>
                        <p class="card_role">{{ article.createdAt | date('d/m/Y') }}</p>
                        {% if article.category %}
                            <div class="badges">
                                {% for cat in article.category %}
                                    <p class="badge">{{ cat.name }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </figcaption>
                </figure>
            </a>
        {% endfor %}
    </section>
{% endblock %}
