{% extends 'base.html.twig' %}

{% block title %}{{ section.name }}{% endblock %}

{% block body %}
    <section class="page_title">
        <h2 class="title--page">
            <img class="team_logo" src="{{ asset('uploads/sections-logo/' ~ section.logotype) }}" alt="{{ section.name }} logo">
        </h2>
    </section>
    <section class="container team_presentation">
        <h2 class="title">Notre équipe {{ section.name }}</h2>
        <p class="text_body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, dolorum id iusto laudantium nam nesciunt quasi! Aliquid architecto consequatur ducimus eaque hic illo ipsum quia quisquam vitae voluptates? Minima, nam?</p>
    </section>
    <section class="container team_members">
        <h2 class="title">Nos joueurs</h2>
        <div class="members">
            {% for member in section.members %}
                <figure class="member">
                    <img class="member_img" src="{{ asset('assets/img/shop/maillot.png') }}" alt="Maillot Loud Esport">
                    <figcaption>
                        <h3 class="member_name">{{ member.gamename }}</h3>
                        <p class="member_role">{{ member.role }}</p>
                        <img class="member_flag" src="{{ asset('assets/img/flags/' ~ member.nationality.flag) }}" alt="Nationalité {{ member.gamename }}">
                    </figcaption>
                </figure>
            {% endfor %}
        </div>
    </section>
{% endblock %}
