{% extends 'base.html.twig' %}

{% block title %}Nos tournois{% endblock %}

{% block body %}
    <div class="container">
        <h1>Noos tournois</h1>
        {{ tournamentPresentation.content | raw }}
        <div class="events-flex">
            {% for event in events %}
                <div class="event">
                    <div class="event-infos">
                        <img src="/uploads/events/game-logo/{{ event.game.logo }}" alt="{{ event.game.name }} logo">
                        <h2>{{ event.name }}</h2>
                    </div>
                    <p class="event-description">{{ event.description | striptags | slice(0,150) | raw }}</p>
                    <div class="buttons">
                        <a href="{{ event.twitterLink }}" target="_blank" class="link-button noopener">Twitter <i class="fas fa-chevron-right"></i></a>
                        <a href="{{ event.tournamentLink }}" target="_blank" class="link-button noopener">Tournoi <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
