{% extends 'base.html.twig' %}

{% block description %}{{ news.body | raw }}{% endblock %}

{% block title %}{{ news.title }}{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{ path('news_index') }}" class="link-button return"><i class="fas fa-chevron-left"></i> Retour</a>
        <div class="news-content margin-return">
            <h1>{{ news.title }}</h1>
            <p>Écrit par {{ news.author.login }}, le {{ news.createdAt | date('d/m/Y') }} à {{ news.createdAt | date('H:m') }}</p>
            <div class="news-photo news-content-photo">
                <img src="/uploads/article-photo/{{ news.photo }}" alt="{{ news.title }} photo">
            </div>
            <article>
                {{ news.body | raw }}
            </article>
        </div>
    </div>
{% endblock %}
