{% extends 'base.html.twig' %}

{% block description %}Retrouvez toutes nos informations de contact ainsi que nos liens vers nos réseaux sociaux{% endblock %}

{% block title %}Nous contacter{% endblock %}

{% block body %}
    <div class="container">
        <h1>Noous contacter</h1>
        {{ contactPresentation.content | raw }}
        <div id="social-flex">
            {% for social in socials %}
            <div class="social">
                <div class="social-infos">
                    <h2><i class="fab fa-{{ social.name | lower }}"></i> {{ social.name }}</h2>
                    <a href="{{ social.link }}" class="link-button">Visiter <i class="fas fa-chevron-right"></i></a>
                </div>
                <p>{{ social.accountName }}</p>
            </div>
            {% endfor %}
            <div class="social" id="email">
                <div class="social-infos">
                    <h2><i class="fas fa-envelope"></i> E-mail</h2>
                </div>
                <div class="social-infos">
                    <p>Pour toute prise de <span>contact</span> non spécifique, notre adresse <span class="social-span">contact</span> </p>
                    <a href="mailto:contact@loudesport.eu" class="link-button">Contacter <i class="fas fa-chevron-right"></i></a>
                </div>
                <div class="social-infos">
                    <p>Pour toute demande concernant <span>nos sections</span> et <span>recrutements</span>, notre adresse <span class="social-span">esport</span></p>
                    <a href="mailto:contact@loudesport.eu" class="link-button">Contacter <i class="fas fa-chevron-right"></i></a>
                </div>
                <div class="social-infos">
                    <p>Pour toute demande concernant <span>les partenariats</span> et <span>sponsors</span>, notre adresse <span class="social-span">partenariats</span></p>
                    <a href="mailto:partnership@loudesport.eu" class="link-button">Contacter <i class="fas fa-chevron-right"></i></a>
                </div>
                <div class="social-infos">
                    <p>Pour toute demande concernant <span>la communication</span> de l'association, notre adresse <span class="social-span">communication</span></p>
                    <a href="mailto:benjamin.pelaudeix@loudesport.eu" class="link-button">Contacter <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
