<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="esport, loud esport, jeux vidéos, compétition, trackmania, tm, zrt, zrt cup, tmgl, ogl, hearthstone, hs, valorant, valo, riot, rocket league, rl, rlcs, smash, smash bros, smash bros ultimate, pc">
        <title>Loud Esport - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/css/_root.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/desktop-xl.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/desktop-laptop.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/mobile.css') }}">
        <link rel="shortcut icon" href="{{ asset('assets/img/logo/favicon.ico') }}" type="image/x-icon">
        <script src="https://kit.fontawesome.com/e5e7c64170.js" crossorigin="anonymous"></script>
    </head>
    <body class="body">
        <header class="header">
            <i class="fas fa-bars header_menu_icon"></i>
            <a href="{{ path('home') }}" class="header_brand">Looud</a>
        </header>
        <nav class="nav">
            <ul class="nav_list">
                <li class="nav_item--main">
                    <a href="{{ path('news_index') }}" class="nav_link">Actualités</a>
                </li>
                <li class="nav_item--main">
                    <p class="nav_link">Club</p>
                    <ul class="nav_list--sub">
                        <li class="nav_item--sub">
                            <a href="{{ path('history') }}" class="nav_link--sub">Histoire</a>
                        </li>
                        <li class="nav_item--sub">
                            <a href="{{ path('staff') }}" class="nav_link--sub">Staff</a>
                        </li>
                        <li class="nav_item--sub">
                            <a href="{{ path('sponsor') }}" class="nav_link--sub">Sponsors</a>
                        </li>
                    </ul>
                </li>
                <li class="nav_item--main">
                    <p class="nav_link">Équipes</p>
                    <ul class="nav_list--sub">
                        <li class="nav_item--sub">
                            <a href="{{ path('teams', { slug: 'hearthstone' }) }}" class="nav_link--sub">Hearthstone</a>
                        </li>
                        <li class="nav_item--sub">
                            <a href="{{ path('teams', { slug: 'rainbow-6-siege' }) }}" class="nav_link--sub">Rainbow 6 Siege</a>
                        </li>
                        <li class="nav_item--sub">
                            <a href="{{ path('teams', { slug: 'smash-bros' }) }}" class="nav_link--sub">Smash Bros Ultimate</a>
                        </li>
                        <li class="nav_item--sub">
                            <a href="{{ path('teams', { slug: 'trackmania' }) }}" class="nav_link--sub">Trackmania</a>
                        </li>
                        <li class="nav_item--sub">
                            <a href="{{ path('teams', { slug: 'valorant' }) }}" class="nav_link--sub">Valorant</a>
                        </li>
                    </ul>
                </li>
                <li class="nav_item--main">
                    <a href="{{ path('shop') }}" class="nav_link">Boutique</a>
                </li>
                <li class="nav_item--main">
                    <a href="{{ path('contact') }}" class="nav_link">Contact</a>
                </li>
            </ul>
            <div class="nav_infos">
                <p class="nav_info">© Loud 2021</p>
                <img class="nav_info_img" src="{{ asset('assets/img/logo/loudblanc.png') }}" alt="Logo Loud">
                <a href="{{ path('legal') }}" class="nav_info nav_info--link">Mentions légales</a>
            </div>
        </nav>
        {% block body %}{% endblock %}
        <footer class="footer">
            <p class="footer_msg">© Loud - Tous droits reservés - Par <a class="footer_link" href="#">Kysho</a> et <a class="footer_link" href="#">Ben</a></p>
        </footer>
        <!-- javascript -->
        <script src="{{ asset('assets/js/nav.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
