<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="esport, loud esport, jeux vidéos, compétition, trackmania, tm, zrt, zrt cup, tmgl, ogl, hearthstone, hs, valorant, valo, riot, rocket league, rl, rlcs, smash, smash bros, smash bros ultimate, pc">
        <title>Loud Esport - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/assets/css/desktop-min-1281-px.css">
        <link rel="stylesheet" href="/assets/css/mobile-min-320-px-max-480-px.css">
        <link rel="shortcut icon" href="/assets/img/logo/favicon.ico" type="image/x-icon">
        <script src="https://kit.fontawesome.com/e5e7c64170.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <div id="header-logo">
                <a href="{{ path('home') }}" class="nav-item">
                    <img src="/assets/img/logo/loudrouge.webp" alt="Loud logo">
                </a>
                <nav id="desktop-nav">
                    <ul>
                        <li>
                            <a href="{{ path('news_index') }}" class="nav-item">Actualités</a>
                        </li>
                        <li>
                            <a href="{{ path('history') }}" class="nav-item">Histoire</a>
                        </li>
                        <li>
                            <a href="{{ path('teams') }}" class="nav-item">Équipes</a>
                        </li>
                        <li>
                            <a href="{{ path('contact') }}" class="nav-item">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <i class="fas fa-bars" id="mobile-dropdown-link"></i>
        </header>
        <nav id="mobile-nav">
            <ul>
                <li>
                    <a href="{{ path('home') }}" class="nav-item">Accueil</a>
                </li>
                <li>
                    <a href="{{ path('history') }}" class="nav-item">Histoire</a>
                </li>
                <li>
                    <a href="{{ path('news_index') }}" class="nav-item">Actualités</a>
                </li>
                <li>
                    <a href="{{ path('teams') }}" class="nav-item">Équipes</a>
                </li>
                <li>
                    <a href="{{ path('contact') }}" class="nav-item">Contact</a>
                </li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
        <footer>
            <div id="footer-logo">
                <h1>Looud</h1>
                <p>Tous droits réservés - <span id="current-year"></span> - <a href="/assets/docs/mentions-legales.pdf">Mentions légales</a> - Design :
                    <a href="https://www.behance.net/maximedegallaix">Kysho</a> - Réalisation : <a href="https://github.com/Benjamin-Pelaudeix">Ben</a></p>
            </div>
        </footer>
        <!-- javascript -->
        <script src="/assets/js/nav-mobile.js"></script>
        <script src="/assets/js/footer.js"></script>
        <script src="/assets/js/last-news-hover.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
