<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="esport, loud esport, jeux vidéos, compétition, trackmania, tm, zrt, zrt cup, tmgl, ogl, hearthstone, hs, valorant, valo, riot, rocket league, rl, rlcs, smash, smash bros, smash bros ultimate, pc">
        <title>Loud Esport - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/css/_root.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/desktop-min-1281-px.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/mobile-min-320-px-max-480-px.css') }}">
        <link rel="shortcut icon" href="{{ asset('assets/img/logo/favicon.ico') }}" type="image/x-icon">
        <script src="https://kit.fontawesome.com/e5e7c64170.js" crossorigin="anonymous"></script>
    </head>
    <body class="body">
        <header class="header">
            <i class="fas fa-bars header_menu_icon"></i>
            <h1 class="header_brand">Looud</h1>
        </header>
        <nav class="nav">
            <ul class="nav_list">
                <li class="nav_list_item">
                    <a href="#" class="nav_link nav_link--main">
                        Actualités
                    </a>
                </li>
                <li class="nav_list_item">
                    <p class="nav_link nav_link--main">
                        Club
                    </p>
                    <ul class="nav_list nav_list--sub">
                        <li class="nav_list_item">
                            <a href="#" class="nav_link nav_link--sub">
                                Histoire
                            </a>
                        </li>
                        <li class="nav_list_item">
                            <a href="#" class="nav_link nav_link--sub">
                                Organigramme
                            </a>
                        </li>
                        <li class="nav_list_item">
                            <a href="#" class="nav_link nav_link--sub">
                                Partenaires
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav_list_item">
                    <p class="nav_link nav_link--main">
                        Équipes
                    </p>
                    <ul class="nav_list nav_list--sub">
                        <li class="nav_list_item">
                            <a href="#" class="nav_link nav_link--sub">
                                Hearthstone
                            </a>
                        </li>
                        <li class="nav_list_item">
                            <a href="#" class="nav_link nav_link--sub">
                                Rainbow 6 Siege
                            </a>
                        </li>
                        <li class="nav_list_item">
                            <a href="#" class="nav_link nav_link--sub">
                                Rocket League
                            </a>
                        </li>
                        <li class="nav_list_item">
                            <a href="#" class="nav_link nav_link--sub">
                                Smash Bros Ultimate
                            </a>
                        </li>
                        <li class="nav_list_item">
                            <a href="#" class="nav_link nav_link--sub">
                                Trackmania
                            </a>
                        </li>
                        <li class="nav_list_item">
                            <a href="#" class="nav_link nav_link--sub">
                                Valorant
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav_list_item">
                    <a href="#" class="nav_link nav_link--main">
                        Boutique
                    </a>
                </li>
                <li class="nav_list_item">
                    <a href="#" class="nav_link nav_link--main">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
        <!-- javascript -->
        <script src="{{ asset('assets/js/nav.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
