<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Loud Esport - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/css/desktop-min-1281-px.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/mobile-min-320-px-max-480-px.css') }}">
        <script src="https://kit.fontawesome.com/e5e7c64170.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <div id="header-logo">
                <a href="{{ path('home') }}" class="nav-item">
                    <img src="{{ asset('assets/img/logo/loudrouge.svg') }}" alt="Loud logo">
                </a>
                <nav id="desktop-nav">
                    <ul>
                        <li>
                            <a href="{{ path('history') }}" class="nav-item">Histoire</a>
                        </li>
                        <li>
                            <a href="{{ path('news_index') }}" class="nav-item">Actualités</a>
                        </li>
                        <li>
                            <a href="{{ path('teams') }}" class="nav-item">Équipes</a>
                        </li>
                        <li>
                            <a href="#" class="nav-item">Web TV</a>
                        </li>
                        <li>
                            <a href="#" class="nav-item">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <i class="fas fa-bars" id="mobile-dropdown-link"></i>
        </header>
        <nav id="mobile-nav">
            <ul>
                <li>
                    <a href="{{ path('home') }}" class="nav-item">Accueil</a>
                </li>
                <li>
                    <a href="{{ path('history') }}" class="nav-item">Histoire</a>
                </li>
                <li>
                    <a href="{{ path('news_index') }}" class="nav-item">Actualités</a>
                </li>
                <li>
                    <a href="{{ path('teams') }}" class="nav-item">Équipes</a>
                </li>
                <li>
                    <a href="#" target="_blank" rel="noopener" class="nav-item">Boutique</a>
                </li>
                <li>
                    <a href="#" class="nav-item">Web TV</a>
                </li>
                <li>
                    <a href="#" class="nav-item">Contact</a>
                </li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
        <footer>
            <div id="footer-logo">
                <h1>Looud</h1>
                <p>Tous droits réservés - <span id="current-year"></span> - <a href="#">CGU</a> - <a href="#">Mentions légales</a></p>
            </div>
        </footer>
        <!-- javascript -->
        <script src="{{ asset('assets/js/nav-mobile.js') }}"></script>
        <script src="{{ asset('assets/js/footer.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
